.buttons-bar {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    height: 70%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 60vw;
    font-size: medium;
    color: white;
    background-color: black;
    transition: 0.3s all ease;
  }
  
  @media only screen and (max-width: 510px) {
    button {
      font-size: small;
    }
  }
  
  @media only screen and (max-width: 410px) {
    button {
      font-size: x-small;
    }
  }
  
  @media only screen and (max-width: 320px) {
    button {
      font-size: xx-small;
    }
  }
  
  button:hover {
    font-style: bold;
    border-width: 0.3vh;
    cursor: pointer;
    transition: 0.3s all ease;
  }
  
  .buttonStyle1:hover {
    border-color: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
  }
  
  .buttonStyle2:hover {
    border-color: rgb(255, 128, 0);
    color: rgb(255, 128, 0);
  }
  
  #reset {
    opacity: 0.7;
    background-color: rgb(255, 60, 0);
  }
  #reset:hover {
    border-color: rgb(235, 180, 0);
    opacity: 1;
    transition: 0.3s  ease;
  }
  
  button:disabled,
  .buttonStyle1:disabled,
  .buttonStyle2:disabled,
  #reset:disabled {
    background-color: grey;
    color: white;
    border-width: 0vw;
    opacity: 1;
    cursor: not-allowed;
  }